.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  max-width: 700px;
}
.main__title {
  font-size: 4.7em;
}
.main__text {
  font-size: 1.4em;
  line-height: 1.7em;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__input {
  width: 240px;
  margin: 12px;
  background-color: #ffffff11;
}
.form__input::placeholder {
  opacity: 0.4;
}
.form__button {
  margin: 12px 0px;
  padding: 10px 24pt;
  font-size: 1.1em;
  color: aqua;
  border: solid 1.5pt aqua;
}
.feedback {
  margin-bottom: 12px;
}
