@font-face {
  font-family: 'Condensed';
  src: url('./assets/Fonts/Open_Sans/Condensed-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Condensed';
  src: url('./assets/Fonts/Open_Sans/Condensed-Regular.ttf') format('truetype');
  font-weight: 400;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}
html {
  font-family: 'Condensed', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-width: 320px;
}
body {
  background-attachment: fixed;
  background-size: cover;
  background: #111;
  font-size: 11pt;
  color: white;
}
img {
  object-fit: cover;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: aqua;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
  font-weight: 400;
}
button {
  font-family: 'Condensed', Arial, Helvetica, sans-serif;
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
}
input,
textarea {
  font-family: 'Condensed', Arial, Helvetica, sans-serif;
  border: none;
  resize: none;
  background: #111111aa;
  border: solid 1pt #444;
  padding: 7px;
  color: white;
  font-size: 1em;
}
input::placeholder,
textarea::placeholder {
  opacity: 0.7;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}
