.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px;
}
.form__input {
  margin: 12px;
  background-color: #ffffff11;
}
.form__input::placeholder {
  opacity: 0.4;
}
.form__button {
  margin: 12px 0px;
  padding: 10px 24pt;
  font-size: 1.1em;
  color: aqua;
  border: solid 1.5pt aqua;
}
.feedback {
  margin-bottom: 12px;
}
