.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  max-width: 700px;
}
.main__title {
  font-size: 4.7em;
}
.main__text {
  font-size: 1.4em;
  line-height: 1.7em;
}
.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px 0px;
}
.user__button {
  margin: 12px;
  padding: 10px 24pt;
  font-size: 1.1em;
  color: aqua;
  border: solid 1.5pt aqua;
}
